body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: #ffffff;
    background-image: url(fondo_estrellado.jpg);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin: 50px;
    padding: 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    height: 200px;
    width: auto;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
}

.main-content h2 {
    font-size: 2rem;
    margin-top: 20px;
}

.presentation {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin-top: 15px;
}

.index {
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
}

.index h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.index ul {
    list-style: none;
    padding: 0;
}

.index li {
    margin: 10px 0;
}

.index a {
    text-decoration: none;
    color: #00bcd4;
    font-weight: bold;
    transition: color 0.3s;
}

.index a:hover {
    color: #00f90c;
}
