.formato{background-image: url(CIBERSEGURIDAD.jpg);padding: 150px;
background-position: center center;background-repeat: no-repeat;background-size: cover;}
h1{text-align: center;text-decoration: underline; color:red}
p{text-align: justify;font-family: 'Times New Roman';color: rgb(233, 244, 241); margin-left: 15%;margin-right: 15%; font-size: 25px;}
div{text-align: center}
body{background-color: skyblue;background-image: url(fondo_estrellado.jpg);
   
 }
 footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
}

.nav-button {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s;
}

.nav-button:hover {
    background: #00bcd4;
}

.nav-button.left {
    align-self: flex-start;
}

.nav-button.right {
    align-self: flex-end;
}
#botonarriba{
    position: fixed;
    bottom: 80px;
    right: -100px;
    width: 89px;
    transition: all 1s;
}
